:root {
    --logo-primary-color: rgb(88, 141, 220);
    --logo-secondary-color: rgb(221, 229, 247);
    --form-color: rgb(98, 151, 144);
    --neutral-color: rgb(166, 166, 187);
    --faded-color: rgb(213, 213, 230);
    --zebra-stripe1:hsl(160, 33%, 96%);
    --zebra-stripe2:hsl(171, 25%, 90%);
}

body {
    font-family: "Libre Franklin", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-section {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.header-section .title {
    font-size: 3.5rem;
    font-weight: 600;
    font-family: "Zain", serif;
    color: var(--secondary-color);
}

.book-icon {
    width: 4rem;
}

.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: none;
    background-color: rgba(0 0 0 / 20%);
}

.lib-table {
    margin-bottom: 1rem;
    border-collapse: collapse;
    border: 1px solid var(--zebra-stripe2);
    box-shadow: 0 0.1rem 0.2rem rgb(0 0 0 / 10%);
}

.lib-table caption {
    margin: 0.5rem 0;
    font-size: 1.75rem;
    font-weight: 300;
    text-align: center;
    font-family: "Zain", serif;
}

.lib-table caption .bold {
    font-weight: 600;
}

.lib-table th, td {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    text-align: left;
    border-left: none;
    border-right: none;
}


.lib-table thead {
    background-color: var(--form-color);
    color:white;
}

.lib-table tbody tr:nth-child(even){
    background-color: var(--zebra-stripe1);
}

.lib-table tbody tr:nth-child(odd) {
    background-color: var(--zebra-stripe2);
}

.small-form-icon {
    width: 1.2rem;
    aspect-ratio: 1 / 1;
    background-color: black;
}

.small-form-icon.edit {
    mask: url("images/square-edit-outline.svg");
}

.small-form-icon.delete {
    mask: url("images/delete.svg");
}

.small-form-icon:hover {
    background-color: var(--logo-primary-color);
}

.book-form{
    margin: auto;
    margin-top: 25vh;
    width: min-content;
    border: none;
    border-radius: 0.8rem;
    background-color: white;
    padding: 1rem 1.5rem;
    box-shadow: 0 0.2rem 1rem rgb(0 0 0 / 30%)
}

.book-form fieldset {
    border: 0;
    padding: 0;
    margin: 0;
}

.book-form .grid {
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 0.75rem 1rem;
}

.book-form legend {
    font-weight: 600;
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.book-form input, select {
    border: 1px solid var(--faded-color);
    padding: 0.3rem 0.5rem;
    border-radius: 0.25rem;
}

.book-form input:focus {
    outline: 1px solid var(--form-color);
}

button {
    padding: 0.6rem 1.7rem;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 0.5rem;
    border: none;
}

.new-book-btn {
    background-color: var(--logo-primary-color);
    color: white;
}

.cancel-btn {
    background-color: var(--logo-secondary-color);
    color: black;
}

.submit-btn {
    background-color: var(--logo-primary-color);
    color: white;
}

.form-faded-icon {
    width: 2rem;
    aspect-ratio: 1 / 1;
    background-color: var(--logo-secondary-color);
}

.form-faded-icon.new{
    mask: url("images/book-plus.svg");
}

.form-faded-icon.edit{
    mask: url("images/square-edit-outline.svg");
}

